$hm-color: #F1753B;
$body-bg: #200030;


// Variable Overrides 
// Variable Overrides 

$enable-rounded: false;

$theme-colors: (
  "primary": $hm-color,
  // "secondary": #F3F4F1 
  "secondary": grey 
);


// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";


html {
  background-color: $body-bg;
}

.bg-grey {
  background-color: grey;
}

.hmlet-container{
  min-width: 70vw;
  padding: 0;
  margin-bottom: 0;
}
.hmlet-main {
  padding-left: 0;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.hmlet-jumbotron{
  padding: 0;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  
  // min-height: 1000px;
  height: 32em;

  /* Tried setting the height. Didnt work either */
  /* height: 200px; */
}

.hmlet-billboard-video{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  // z-index: 3;
}

.hmlet-billboard-text {
  position: relative;
  top: 20%;
  left: 6%;
}

.hmlet-video-choices {
  margin-top: -5em;
  margin-left: 20vw;
  margin-right: 3vw;
  position:relative;
  z-index: 4;
}
.hmlet-slogan {
  margin-top: -5%;
  margin-right: 0;
  // margin-left: 10vw;
  position: relative;
  font-size: 2rem;
  padding-bottom: 3%;
  padding-top: 4em;
  padding-left: 12vw;
  padding-right:4vw;
}

.hmlet-community-text {
  margin-top: 2em;
  margin-left: -3vw;
  margin-bottom: 2em;
  padding: 50px;
}

.hmlet-values-text {
  margin-top: 2em;
  margin-right: -5vw;
  padding: 50px;
}

.hmlet-values-img {
  // margin-top: 2em;
  margin-right: -3vw;
}

.hmlet-events-text {
  margin-top: 2em;
  margin-left: -12vw;
  margin-bottom: 2em;
  padding: 50px;
}

// customs
.transparent {    
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.flush {
  margin-left: 0;
  margin-right: 0;
}

.bg-green {
  background-color: green;
}